* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #6A5495;
    color: #EFEFEF;
    padding: 20px 0;
    border-bottom: 2px solid #ED5EDD;

}



.logo {
    color: #EFEFEF;
}


.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}


.menu a {
    color: #EFEFEF;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;

}



.menu a:hover {
    color: #ED5EDD;

}


.menu .btn-menu {
    background-color: #ED5EDD;
    display: inline-block;
    padding: 8px 16px;
    color: #EFEFEF;
    border-radius: 8px;
}



.menu .btn-menu:hover {
    background-color: #EFEFEF;
    color: #ED5EDD;
}


section.main {
    padding: 70px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

article h2 {
    color: #6A5495;
}

article h5 {
    color: #6A5495;
}

section.entrega p {
    color: #6A5495;
}

.main__cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}



.main__cta h2 {
    color: #6A5495;
    font-size: 30px;
}



.main__cta p {
    color: #6A5495;
    font-size: 19px;
    margin: 10px 0;
}



.section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}