/* estilos globais ---------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Confortaa', cursiva;
}

body {
    font-family: 'Confortaa', cursiva;
    background-color: #EFEFEF;
    display: block;
    color: black;
    justify-content: center;
    height: 100vh;
}

/* header ----------------------------- */
header div.logo-site {
    border: none;
    padding: 15px;
    max-width: 100%;
    width: 1000px;
    margin: 15px auto;
}

/* formulario ------------------------- */
main {
    background-color: #6A5495;
    text-align: center;
    padding: 25px;
    display: block;
    font-size: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 1000px;
    margin: 15px auto;
}

main form.acessar-conta {
    background-color: #6A5495;
    color: #EFEFEF;
    margin: 15px auto;
    text-align: center;
    padding: 120px;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    border-radius: 5px;
}

main form h2 {
    padding-bottom: 30px;
}

main form div.formulario {
    padding-bottom: 0.2px;
}

header div a {
    text-decoration: none;
    margin: 5px auto;
    text-align: center;
    padding: 25px;
}

main form input {
    background-color: #EFEFEF;
    margin: 15px auto;
    text-align: center;
    padding: 5px;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

main a {
    font-size: 15px;
    color: #EFEFEF;
}

main a:hover {
    text-decoration: underline 2px #EFEFEF;
    font-size: 17px;
}

form button {
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #EFEFEF;
    border: none;
    opacity: 0.8;
}

form button:hover {
    opacity: 0.5;
    padding: 7px 17px;
    margin: 28px auto;
}

/* responsivo ------------------------ */
@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body {
        height: 90vh;
    }

}

