<%- include('../partials/header') %>

<%- include('../partials/head') %>
<div class="container">
<div class="row" style="height: 100vh; align-items: center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ACESSO PAINEL DE USUÁRIOS</h5>
        <a href="#" class="btn btn-primary">ENTRAR</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ACESSO PAINEL DE PRODUTOS</h5>
        <a href="#" class="btn btn-primary">ENTRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>



