<%- include('../partials/header') %>
  
       <%- include('../partials/head') %>

    <body style="display: flex; height: 100vh; justify-content: center; flex-direction: column;">
      <form action="/admin/adminProdutos" method="POST" class="cadastroProdutos" enctype="multipart/form-data"></form> 
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="title-admin">Painel administrativo</h1>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row" >
                <div class="col-12">
                    <h2>Usuarios</h2>
                </div>
    
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Foto</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">CPF</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>valor ex</td>
                        <td>valor ex</td>
                        <td>valor ex</td>
                        <td>valor ex</td>
                      </tr>
                    </tbody>
                  </table>
    
                <a href="/admin/adminProdutos"  class="btn btn-primary">Adicionar novo</a>    
            </div>
       
        </div>
    
   
    </body>

  