<%- include('../partials/headerAdmin') %>
    <%- include('../partials/head') %>

        <body>
            <main class="admin">
                <div class="container">
                    <h1 class="title-admin">Painel administrativo</h1>

                    <form action="/admin/acaoCadastrarAdmin" method="POST" class="cadastroUsuarios">
                        <fieldset>
                            <legend class="title-admin">Novo Usuário</legend>

                            <div>
                                <label for="username">Username:</label>
                                <input type="text" name="username" id="username" required>
                            </div>

                            <div>
                                <label for="preco">Senha:</label>
                                <input type="password" name="senha" id="senha" required>
                            </div>

                            <button class="btn-cadastroUsuarios" type="submit" action="acaoCadastrarAdmin" >Cadastrar</button>
                            
                        </fieldset>

                    </form>
                    <button class="btn-cadastroUsuarios"> <a href="/admin/usuarios">Voltar</a> </button>

                </div>
            </main>
        </body>

        </html>