<%- include('../partials/headerAdmin') %>

    <head>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body class="body-login">

        <main class="formulario-login">

            <form class="criar-conta" action="" method="post">
                <h2 class="login">Acesso Painel Administrativo</h2>

                <div class="dados-cadastrais-conta">
                    <div class="campo-login">
                        <label class="inserir-dados-cadastro" for="username">Username:</label>
                        <input class="inserir-dados-cadastro" type="text" id="username" name="username">
                    </div>

                    <div class="campo-login">
                        <label class="inserir-dados-cadastro" for="senha">Senha:</label>
                        <input class="inserir-dados-cadastro" type="password" id="senha" name="senha"
                            placeholder="Digite sua senha">
                    </div>
                </div>
                <a class="termosCondicoes" href="#">Esqueci minha senha</a>

                <button class="login-cadastro" type="submit" action="">Entrar</button>
            </form>

        </main>

    </body>

    </html>