<%- include('../partials/headerAdmin') %>

    <head>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body class="body-login">

        <main class="formulario-login">

            <form class="criar-conta" action="/admin/acaologin" method="post">
                <h2 class="login">Acesso Painel Administrativo</h2>

                <% if(typeof(error) != "undefined"){ %>
                    <div class="alert alert-danger" style="width: 350px; height: 40px; display: flex;
                    margin: auto; justify-content: space-around; align-items: center;">
            
                        <% for(let i = 0; i < error.length; i++){ %>
                            Usuário e/ou senha não encontrado
                        <% } %>
                    </div>
                <% } %> 

                <div class="dados-cadastrais-conta">
                        <div class="campo-login">
                        <label class="inserir-dados-cadastro" for="username">Username:</label>
                        <input class="inserir-dados-cadastro" type="text" id="username" name="username" placeholder="Nome de usuário">
                    </div>

                    <div class="campo-login">
                        <label class="inserir-dados-cadastro" for="senha">Senha:</label>
                        <input class="inserir-dados-cadastro" type="password" id="senha" name="senha"
                            placeholder="Digite sua senha">
                    </div>
                </div>
                <a class="termosCondicoes" href="#">Esqueci minha senha</a>

                <button class="login-cadastro" type="submit" action="acaoLoginAdmin">Entrar</button>
            </form>


        </main>

    </body>

    </html>