<%- include('../partials/headerAdmin') %>
    <%- include('../partials/head') %>

        <body>
            <main class="admin">
                <div class="container">
                    <h1 class="title-admin">Painel administrativo</h1>

                    <form action="/admin/acaoCadastrarProdutos" method="POST" class="cadastroProdutos"
                        enctype="multipart/form-data">
                        <fieldset>
                            <legend class="title-admin">Novo Produto</legend>

                            <div>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" required>

                                <div>
                                    <label for="preco">Preço:</label>
                                    <input type="text" name="preco" id="preco" required>
                                </div>

                                <div>
                                    <label for="descricao">Descrição:</label>
                                    <textarea name="descricao" id="descricao" cols="30" rows="5"></textarea>
                                </div>

                                
                                <div>
                                    <label for="categoria">Categoria:</label>
                                    <select name="categorias_id" class="form-select" aria-label="Default select example">
                                        
                                        <%for(categoria of Categoria) {%>
                                            <option value="<%=categoria.id%>">
                                                <%=categoria.categoria%>
                                            </option>
                                        <% } %>
                                        
                                    </select>

                                </div>

                                <div>
                                    <label>Imagem:</label>
                                    <input type="file" name="imagemProduto" />
                                </div>

                                <button class="btn-cadastroUsuarios" type="submit"
                                    action="acaoCadastrarProdutos">Cadastrar</button>
                        </fieldset>
                    </form>

                    <button class="btn-cadastroUsuarios"> <a href="/admin/produtos">Voltar</a> </button>
                </div>
            </main>
        </body>

        </html>