<%- include('../partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-admin">
          <h5 class="card-title">ACESSO PAINEL DE USUÁRIOS</h5>
          <p class="card-text">Editar, acessar e cadastrar usuários.</p>
          <a href="#" class="btn btn-admin">ENTRAR</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-admin">
          <h5 class="card-title">ACESSO PAINEL DE PRODUTOS</h5>
          <p class="card-text">Editar, acessar e cadastrar produtos.</p>
          <a href="#" class="btn btn-admin">ENTRAR</a>
          <style> .btn-admin {
             padding: 1px 20px;
             border-radius: 4px;
             background-color: #6A5495;
             border: none; 
            }
            .card-admin {
             display: flex;
             flex-direction: column;
             align-content: space-around;
             align-items: center;
             padding: 30px;
             
            }
             </style>
        </div>
      </div>
    </div>
  </div>