
<%- include('../partials/headerAdmin') %>
<%- include('../partials/head') %>

  <body>
         <main class="admin">
             <div class="container">
                 <h1 class="title-admin">Painel administrativo</h1>

                 <form action="/admin/adminUsuarios" method="POST" class="cadastroUsuarios" enctype="multipart/form-data">
                     <fieldset>
                         <legend class="title-admin">Novo Usuário</legend>

                         <div>
                             <label for="nome">Nome:</label>
                             <input type="text" name="nome" id="nome" required>
                         </div>

                         <div>
                             <label for="preco">Senha:</label>
                             <input type="text" name="senha" id="senha" required>
                         </div>

                         <button class="btn-cadastroUsuarios">Cadastrar</button>
                     </fieldset>
                  </form>
             </div>
         </main>
 </body>
</html>