<%- include('../partials/headerAdmin') %>
   <%- include('../partials/head') %>
  
    
     <body>
            <main class="admin">
                <div class="container">
                    <h1 class="title-admin">Painel administrativo</h1>

                    <form action="/admin/adminProdutos" method="POST" class="cadastroProdutos" enctype="multipart/form-data">
                        <fieldset>
                            <legend class="title-admin">Novo Produto</legend>

                            <div>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" required>
                            </div>

                            <div>
                                <label for="preco">Preço:</label>
                                <input type="text" name="preco" id="preco" required>
                            </div>

                            <div>
                                <label for="descricao">Descrição:</label>
                                <textarea name="descricao" id="descricao" cols="30" rows="5"></textarea>
                            </div>

                            <div>
                                <label for="descricao">Categoria:</label>
                                <input type="text" name="descricao" id="descricao" required>
                            </div>

                            <div>
                                <label>Imagem:</label>
                                <input type="file" name="imagemProduto" />
                            </div>

                            

                            <button class="btn-cadastroProdutos">Cadastrar</button>
                        </fieldset>
                        <style>
                            
main.admin .cadastroProdutos{
    width: 100%;
    color: #6A5495;

}

main.admin .cadastroProdutos fieldset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: #6A5495;
}

main.admin .cadastroProdutos input,
main.admin .cadastroProdutos textarea
{
    width: 100%;
    padding: 5px 0px;
}

.btn-cadastroProdutos{
    width: 250px;
    background-color: #6A5495;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}



                        </style>
                    </form>
                </div>
            </main>
    </body>
</html>