<%- include('../partials/header') %>

   
<body>
    <main class="admin">
        <div class="container-admin">
            <h1 class="admin">Registros de Produtos</h1>

            <form action="" method="POST" class="cadastroProdutos">
                <div class="formulario-produtos">

                    <div class="admin-idProduto input-group">
                        <label for="idProduto">Id:</label>
                        <input type="number" name="idProduto" id="idProduto" required>
                    </div>

                    <div class="admin-nomeProduto input-group">
                        <label for="nomeProduto">Nome:</label>
                        <input type="text" name="nomeProduto" id="nomeProduto" required>
                    </div>

                    <div class="input-group">
                        <label for="precoProduto">Preco:</label>
                        <input type="text" name="precoProduto" id="precoProduto" required>
                    </div>

                    <div class="input-group">
                        <label for="descricaoProduto">Descricao:</label>
                        <textarea name="descricaoProduto" id="descricaoProduto" cols="30" rows="10"></textarea>
                    </div>

                    <div class="input-group">
                        <label>Imagem</label>
                        <input type="file" name="imagemProduto" />
                    </div>
                </div>

                <div class="botoes-adm buttons-group">
                    <button class="btn btn-cadastroProduto">Cadastrar</button>
                    <button class="btn btn-editarProduto">Editar</button>
                    <button class="btn btn-excluirProduto">Excluir</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html> 