<footer>
    <div class="container-footer">
        <div class="caixa esquerda">

            <div class="content-footer">
                <h2 class="footer">SOBRE NÓS</h2>
                <p class="footer">Somos apaixonados por pets! Essa não é apenas uma expressão inserida em nossa missão como
                    empresa, mas uma realidade vivenciada todos os dias em nossas atitudes.</p>

                <p class="footer">Trabalhamos para que você e seus pets tenham a melhor experiência em nossa loja. Ah, mantemos
                    nossas orelhas em pé para saber das novidades do mundo pet e levá-las até você.</p>

                <div class="social-medias">

                    <a href="http://www.facebook.com.br" target="_blank"><img src="/images/favicon/facebook.png"
                            alt="logo facebook"></a>

                    <a href="https://www.instagram.com" target="_blank"><img src="/images/favicon/instagram.png"
                            alt="logo instagram"></a>

                    <a href="http://www.youtube.com.br" target="_blank"><img src="/images/favicon/youtube.png"
                            alt="logo youtube"></a>

                    <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank"><img
                            src="/images/favicon/whatsapp.png" alt="logo whatsapp"></a>

                </div>
            </div>
        </div>
        
        <div class="caixa centro">
            <div class="content-footer">


                <h2 class="footer">ENDEREÇO</h2>
                <div class="endereco">
                    <span class="icone"><img src="/images/favicon/endereço-branco.png"  alt="">Rua dos Bobos,
                        000, Cidade da Fantasia</span>

                    <div class="telefone">
                        <span class="icone"><img src="/images/favicon/telefone-branco.png"  alt="">SAC:
                            0800.123.1212</span>
                    </div>

                    <div class="endereco">
                        <span class="icone"><img src="/images/favicon/email-branco.png"
                                alt="" >contato@happypet.com.br</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="caixa direita">
            <div class="content-footer">
                <h2 class="footer">CONTATO</h2>
                <form action="#">
                    <div class="email">
                        <div class="texto-email">E-mail</div>
                        <input type="email" required name="email">
                    </div>

                    <div class="mensagem">
                        <div class="texto-mensagem">Mensagem</div>
                        <textarea class="footer" name="" id="" cols="25" rows="5" required></textarea>
                    </div>
                    <div class="botao-footer">
                        <button id="button-form-contato" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>


</body>

</html>