<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/carrinho-compras.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@400;700&display=swap');
    </style>
    <title>Carrinho de Compras</title>
</head>

<body>
    <header class="menu-principal">
        <img class="logo" src="../img/home_img/logo.jpg" alt="logo">
        <div class="barra-de-pesquisa">
            <input class="search-txt" type="text" name="" placeholder="O que seu pet precisa?" required />
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="perfil">
            <button type="submit"><i class="fa-solid fa-user"></i></button>
        </div>

        <div class="carrinho-de-compras">
            <button type="submit"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </header>

    <main>

        <section class="cesta-produtos">

            <div class="lista-produtos">
                <p>Itens</p>
                <p>Valor unitário</p>
                <p>Valor total</p>
            </div>

            <div class="frete">
                <p>Calcule o frete e prazo</p>
                <label for="text"></label>
                <input type="text" id="frete" name="frete" placeholder="_____-___">

                <button class="calcular-frete">Calcular</button>

                <p class="frete">Não sei meu CEP</p>
            </div>

            <div class="botao-continuar">
                <button class="continuar" type="submit">Continuar</button>
            </div>

        </section>

    </main>

    <footer>
        <div class="container">
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.372172194117!2d-46.798959485020994!3d-23.626839084650385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5492713d128d%3A0x32379aed41a05d93!2sR.%20Est%C3%A2ncia%20Velha%2C%20215%20-%20Jardim%20Record%2C%20Tabo%C3%A3o%20da%20Serra%20-%20SP%2C%2006784-160!5e0!3m2!1spt-BR!2sbr!4v1648335925608!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            <div class="info">

                <p>Happy Pet <br> <br> Seu bicho feliz :)</p>
                <p>São Paulo, Brasil</p>

                <p><a href="tel:0800.000000"> 0800.000000</a></p>
                <p><a href="mailto:happypet@email.com">happypet@email.com</a></p>

                <h4>Nossas redes sociais</h4>
                <div class="social-medias">
                    <ul>
                        <li>
                            <a href="" target="_blank">
                                <button class="fa-brands fa-whatsapp"></button>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <button class="fa-brands fa-instagram"></button>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <button class="fa-brands fa-facebook"></button>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </footer>
</body>

</html>