<%- include('./partials/header') %>
  <%- include('./partials/head') %>
  
   <body>
      <div class="container">
         <div class="row">
             <form action="/carrinho" method="POST" class="carrinho" enctype="multipart/form-data"></form>
               <class style="display: flex; justify-content: center; flex-direction: column;"></style>
                    <table class="table table-bordered" action="/carrinho" method="GET">
                        <h1 class="title-admin">CARRINHO</h1>
                 <thead> 
                   <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço Unitário</th>
                    <th scope="col">Preço final</th>
                    
                    <th>Ações</th>
                  </tr>
                </thead>
                </table>
                </div>


             <div class="col-12 text">
                    <article>
                        <h2>Subtotal</h2>
                        <p>Frete</p>
                        <p>Desconto</p>
                        <p>Total</p>
                    </article>
                </section>

                <div class="main-finalizacao__cta">
                    <p>Calcule o frete e prazo</p>
                    <label for="text"></label>
                    <input type="text" id="frete" name="frete" placeholder="CEP">

                    <button class="calcular-frete-finalizacao">Não sei meu CEP</button>
                </div>

                <div class="main__cta">
                    <section class="escolher-finalizacao">
                       <a href="/produtos">
                        <button class="calcular-frete-carrinho">Escolher mais produtos</button>
                    </a>
                    <a href="/finalizar">
                        <button class="calcular-frete-carrinho">Finalizar Compra</button>
                    </a>
                    </section>

        </section>
    




        <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>



    </body>

    </html>

    <!--carrinho mantive sem footer/INCLUDE (BIA)--> 