<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <section class = 'finalizacao'>
        <div class="center-finalizacao">
    
            <div class="menu-finalizacao">
                <i class="fa-solid fa-bag-shopping"></i>
                <a class="finalizacao" href="#">Sacola</a>

                <i class="fa-solid fa-cat"></i>
                <i class="fa-solid fa-dog"></i>
                <a href="#">Identificação</a>

                <i class="fa-solid fa-credit-card"></i>
                <i class="fa-solid fa-money-bill-1"></i>
                <a href="#">Pagamento</a>

                <i class="fa-solid fa-circle-check"></i>
                <a href="#">Confirmação</a>

                <i class="fa-solid fa-id-card"></i>
                <a href="#">Minha conta</a>

                <a class="btn-menu-finalizacao" href="#">Sair</a>
            </div>
            <!--menu-->
        </div>
        <!--center-->

    </section>

    <section class="main-finalizacao">
        <div class="center-finalizacao">

            <div class="main-finalizacao__cta">
                <h2>Happy Pet</h2>

                <p>Calcule o frete e prazo</p>
                <label for="text"></label>
                <input type="text" id="frete" name="frete" placeholder="CEP">

                <button class="calcular-frete-carrinho">Calcular</button>

                <button class="calcular-frete-carrinho">Não sei meu CEP</button>

                <button class="calcular-frete-carrinho">Finalizar Compra</button>
            </div>

            <!--main-cta-->

           <section class="finalizacao-container"
                style="display: flex; flex-wrap:wrap; justify-content:space-between; width: 100%;">
                <article>
                    <h2>Descrição</h2>

                </article>
                <article>
                    <h2>Quantidade</h2>
                </article>

                <article>
                    <h2>Preço</h2>
                </article>

                <article>
                    <h2>Subtotal</h2>
                    <p>Frete</p>
                    <p>Desconto</p>
                    <p>Total</p>
                </article>
            </section> 

            <div class="main-finalizacao__cta">
                <section class="escolher-carrinho" style="margin-top: 50px;">
                   <h2><button class="calcular-frete-carrinho">Escolher mais produtos</button></h2>
                </section> 

    </section>
    <!--main-->



    

    <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>



</body>

</html>

<!--carrinho mantive sem footer/INCLUDE (BIA)-->
