<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/carrinho-compras.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Comfortaa:wght@300;400;700 & display=swap" rel="stylesheet">
    <title>Carrinho de Compras</title>
</head>

<body>
    <header>
        <div class="logo-site">
            <!--redirecionar para página inicial-->
            <a rel="stylesheet" href="#"><img class="logo-loja" src="../img/logos/logo-loja.jpg" alt="logo da loja"></a>
        </div>
    </header>

    <main>
    <div class="carrossel">
        <p>Aproveite e leve também</p>
        <section class="imagens-carrossel">
            <div class="fotos">
                <img src="../img/imagens-carrossel/arranhador.png" alt="foto1">
                <img src="../img/imagens-carrossel/pedigree-lata.jpg" alt="foto2">
                <img src="../img/imagens-carrossel/toca-gato.webp" alt="foto3">
                <img src="../img/imagens-carrossel/wiskas-gato-lata.png" alt="foto4">
                <img src="../img/imagens-carrossel/arranhador.png" alt="foto1">
            </div>
        </section>

        <section class="cesta-produtos">

            <div class="lista-produtos">
                <p>Itens</p>
                <p>Valor unitário</p>
                <p>Valor total</p>
            </div>

            <div class="frete">
                <p>Calcule o frete e prazo</p>
                <label for="text"></label>
                <input type="text" id="frete" name="frete" placeholder="_____-___">

                <button class="calcular-frete">Calcular</button>

                <p class="frete">Não sei meu CEP</p>
            </div>

            <div class="botao-continuar">
                <button class="continuar" type="submit">Continuar</button>
            </div>

        </section>

    </main>

    <footer></footer>
</body>

</html>