<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Endereços</title>
</head>

<body class="endereços"></body>>
<div class="enderecos">
    <table class="table-adress">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Complemento</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Cep</th>

                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <th>
                    <a href="#">Ver dados</a>
                    <a href="#">Editar dados</a>
                    <form action="#" method="post">
                        <button type="submit">Excluir</button>
                    </form>
                </th>
            </tr>
        </tbody>
    </table>

</div>
</body>

</html>