<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <section class="main-finalizacao">
        <div class="center-finalizacao">
            <div class="main-finalizacao__cta">
                <h2>Happy Pet</h2>
                <p>Seu Pet Feliz</p>
            </div>
            
            <section class="finalizacao-container" style="display: flex; flex-wrap:wrap; justify-content:space-between; width: 100%;">
                <article>
                    <h2>Confirmação final</h2>
                    <h5>Dados do comprador</h5>
                    <p>Nome</p>
                    <p>Sobrenome</p>
                    <p>Endereço</p>
                    <p>Cep</p>
                    <p>Cidade</p>
                    <button class = "calcular-frete-finalizacao">Alterar dados</button>
                </article>

                <article>
                    <h2>Finalizar compra</h2>
                    <h5>Endereço de entrega</h5>
                    <p>Nome</p>
                    <p>Sobrenome</p>
                    <p>Endereço</p>
                    <p>Cep</p>
                    <p>Cidade</p>
                    <button class ="calcular-frete-finalizacao">Mudar endereço</button>
                </article>

                <article>
                    <h2>Produto</h2>
                    <p>Quantidade</p>
                    <p>Valor</p>
                    <p>Desconto</p>
                    <p>Total</p>
                </article>
            </section>

            <section class="entrega-finalizacao" style="margin-top: 50px;">
                <h2>Previsão de entrega</h2>
                <p>o prazo de entrega começ a contar apos aprovação da instituição financeira</p>
            </section>

            <div class="main-finalizacao__cta">
                <button class="calcular-frete-finalizacao">Finalizar Compra</button>
            </div>
            <!--main-cta-->

    </section>
    <!--main-->


    <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>


</body>

</html>

<!--finalizar mantive sem footer/INCLUDE (BIA)-->