<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <header class="finalizacao">
        <div class="center-finalizacao">
            <div class="logo-finalizacao" style="display:flex; align-items:center;">
                
            </div>
            <!--logo-->

            <div class="menu-finalizacao">
                <i class="fa-solid fa-bag-shopping"></i>
                <a href="#">Sacola</a>

                <i class="fa-solid fa-cat"></i>
                <i class="fa-solid fa-dog"></i>
                <a href="#">Identificação</a>

                <i class="fa-solid fa-credit-card"></i>
                <i class="fa-solid fa-money-bill-1"></i>
                <a href="#">Pagamento</a>

                <i class="fa-solid fa-circle-check"></i>
                <a href="#">Confirmação</a>

                <i class="fa-solid fa-id-card"></i>
                <a href="#">Minha conta</a>

                <a class="btn-menu-finalizacao" href="#">Sair</a>
            </div>
            <!--menu-->
        </div>
        <!--center-->

    </header>

    <section class="main-finalizacao">
        <div class="center-finalizacao">
            <div class="main-finalizacao__cta">
                <h2>Happy Pet</h2>
                <p>Seu Pet Feliz</p>
            </div>
            
            <section class="finalizacao-container" style="display: flex; flex-wrap:wrap; justify-content:space-between; width: 100%;">
                <article>
                    <h2>Confirmação final</h2>
                    <h5>Dados do comprador</h5>
                    <p>Nome</p>
                    <p>Sobrenome</p>
                    <p>Endereço</p>
                    <p>Cep</p>
                    <p>Cidade</p>
                    <button class = finalizar>Mudar endereço</button>
                </article>

                <article>
                    <h2>Finalizar compra</h2>
                    <h5>Endereço de entrega</h5>
                    <p>Nome</p>
                    <p>Sobrenome</p>
                    <p>Endereço</p>
                    <p>Cep</p>
                    <p>Cidade</p>
                    <button class ="finalizar">Mudar endereço</button>
                </article>

                <article>
                    <h2>Produto</h2>
                    <p>Quantidade</p>
                    <p>Valor</p>
                    <p>Desconto</p>
                    <p>Total</p>
                </article>
            </section>

            <section class="entrega-finalizacao" style="margin-top: 50px;">
                <h2>Previsão de entrega</h2>
                <p>o prazo de entrega começ a contar apos aprovação da instituição financeira</p>
            </section>

            <div class="main-finalizacao__cta">
                <button class="finalizar">Finalizar Compra</button>
            </div>
            <!--main-cta-->

    </section>
    <!--main-->


    <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>


</body>

</html>

<!--finalizar mantive sem footer/INCLUDE (BIA)-->