<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- JavaScript Bundle with Popper -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <section class="banner-home">
        <div class="container-home">
            <div class="carousel-home">
                <img class="home-carousel" src="/images/home_img/01-cat.jpg" alt="gato">
                <img class="home-carousel" src="/images/home_img/captura_de_tela_2021-08-27_as_11.01.15.webp"
                    alt="cachorro">
                <img class="home-carousel" src="/images/home_img/gato.jpg" alt="gato e um pote de ração">
                <img class="home-carousel" src="/images/home_img/porquinho-da-india.jpg" alt="porquinho da india">

                <div class="controls-home">
                    <button><i class="fa-solid fa-chevron-left"></i></button>
                    <button><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>

    </section>


    <section class="produtos-home">
        <div class="container-home">
            <article class="racao-cachorro">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src=/images/home_img/racao-cachorro.png></a>
                <div>
                    <div class="info-home">
                        <h1 class="home">Ração Magnus Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 20,90</h2>
                    </div>
                    <ul>
                        <li class="home">Redução do odor das fezes;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Garante níveis ideais de proteínas e nutrientes;</li>
                        <li class="home">Auxilia no combate à formação e redução do tártaro;</li>
                        <li class="home">Grãos com tamanho diferenciado que facilitam a mastigação;</li>
                    </ul>
                </div>

            </article>

            <article class="racao-gato">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src="/images/home_img/racao-gato.png"></a>
                <div>
                    <div class="info-home">

                        <h1 class="home">Ração Whiskas Gatos Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 23,90</h2>
                    </div>
                    <ul>
                        <li class="home">Proteínas nobres;</li>
                        <li class="home">Ajudam no trato urinário;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Indicada para gatos adultos;</li>
                        <li class="home">Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>

            <article class="racao-hamster">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src="/images/home_img/racao-hamster.png"></a>
                <div>
                    <div class="info-home">
                        <h1 class="home">Ração Nutrópica Hamsters 300G</h1>
                        <h2 class="price-home">R$ 34,90</h2>
                    </div>
                    <ul>
                        <li class="home">Proteínas nobres;</li>
                        <li class="home">Ajudam no trato urinário;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Indicada para gatos adultos;</li>
                        <li class="home">Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>
        </div>
        <div class="container-home">
            <article class="racao-cachorro">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src=/images/home_img/racao-cachorro.png></a>
                <div>
                    <div class="info-home">
                        <h1 class="home">Ração Magnus Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 20,90</h2>
                    </div>
                    <ul>
                        <li class="home">Redução do odor das fezes;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Garante níveis ideais de proteínas e nutrientes;</li>
                        <li class="home">Auxilia no combate à formação e redução do tártaro;</li>
                        <li class="home">Grãos com tamanho diferenciado que facilitam a mastigação;</li>
                    </ul>
                </div>

            </article>

            <article class="racao-gato">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src="/images/home_img/racao-gato.png"></a>
                <div>
                    <div class="info-home">

                        <h1 class="home">Ração Whiskas Gatos Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 23,90</h2>
                    </div>
                    <ul>
                        <li class="home">Proteínas nobres;</li>
                        <li class="home">Ajudam no trato urinário;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Indicada para gatos adultos;</li>
                        <li class="home">Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>

            <article class="racao-hamster">
                <div class="thumb"></div>
                <a href="/produtointerno"><img class="home-produtos" src="/images/home_img/racao-hamster.png"></a>
                <div>
                    <div class="info-home">
                        <h1 class="home">Ração Nutrópica Hamsters 300G</h1>
                        <h2 class="price-home">R$ 34,90</h2>
                    </div>
                    <ul>
                        <li class="home">Proteínas nobres;</li>
                        <li class="home">Ajudam no trato urinário;</li>
                        <li class="home">Ideal para raças de pequeno porte;</li>
                        <li class="home">Indicada para gatos adultos;</li>
                        <li class="home">Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>
        </div>

    </section>


    <%- include('./partials/footer') %>