<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>


    <section class="banner-home">
        <div class="container-home">
            <div class="carousel-home">
                <img src="/images/home_img/captura_de_tela_2021-08-27_as_11.01.15.webp" alt="cachorro">
                    <div class="controls-home">
                    <button><i class="fa-solid fa-chevron-left"></i></button>
                    <button><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>

    </section>


    <section class="produtos-home">
        <div class="container-home">
            <article class = "racao-cachorro">
                <div class="thumb"></div>
                <img src=/images/home_img/racao-cachorro.png>
                <div>
                    <div class="info-home">

                        <h1>Ração Magnus Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 20,90</h2>
                    </div>
                    <ul>
                        <li>Redução do odor das fezes;</li>
                        <li>Ideal para raças de pequeno porte;</li>
                        <li>Garante níveis ideais de proteínas e nutrientes;</li>
                        <li>Auxilia no combate à formação e redução do tártaro;</li>
                        <li>Grãos com tamanho diferenciado que facilitam a mastigação;</li>
                    </ul>
                </div>

            </article>

            <article class = "racao-gato">
                <div class="thumb"></div>
                <img src="/images/home_img/racao-gato.png">
                <div>
                    <div class="info-home">

                        <h1>Ração Whiskas Gatos Filhotes 3KG</h1>
                        <h2 class="price-home">R$ 23,90</h2>
                    </div>
                    <ul>
                        <li>Proteínas nobres;</li>
                        <li>Ajudam no trato urinário;</li>
                        <li>Ideal para raças de pequeno porte;</li>
                        <li>Indicada para gatos adultos;</li>
                        <li>Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>

            <article class = "racao-hamster">
                <div class="thumb"></div>
                <img src="/images/home_img/racao-hamster.png">
                <div>
                    <div class="info-home">
                        <h1>Ração Nutrópica Hamsters 300G</h1>
                        <h2 class="price-home">R$ 34,90</h2>
                    </div>
                    <ul>
                        <li>Proteínas nobres;</li>
                        <li>Ajudam no trato urinário;</li>
                        <li>Ideal para raças de pequeno porte;</li>
                        <li>Indicada para gatos adultos;</li>
                        <li>Delicioso sabor frango e carne;</li>
                    </ul>
                </div>

            </article>

    </section>


    <%- include('./partials/footer') %>

