<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Pet</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Cabeçalho-->
    <header>
        <h1>Galeria de Produtos</h1>
    </header>

    <!--Produtos-->
    <main class="container">
        <section class="=products-container">
            <div class="card">
                <div class="product-image" id="img-1"></div>
                <h3>Ração Golden </h3>
                <p>Ração Golden Special  </p>
                <P>R$ <span class="bold">149,90</span></P>
                <a href="a"
class="btn">Comprar</a>            </div>

<div class="card">
    <div class="product-image" id="img-2"></div>
    <h3>Casa ROSA</h3>
    <p>Casa número 9 </p>
    <P>R$ <span class="bold">130,90</span></P>
    <a href="a"
class="btn">Comprar</a>            </div>
<div class="card">
    <div class="product-image" id="img-3"></div>
    <h3>Toalha Umidecida</h3>
    <p>Para higieni de seu Pet </p>
    <P>R$ <span class="bold">49,90</span></P>
    <a href="a"
class="btn">Comprar</a>            </div>
<div class="card">
    <div class="product-image" id="img-4"></div>
    <h3>Caixa de Transpote</h3>
    <p>Transporte seu pet </p>
    <P>R$ <span class="bold">149,90</span></P>
    <a href="a"
class="btn">Comprar</a>            </div>
<div class="card">
    <div class="product-image" id="img-5"></div>
    <h3>Máquina para tosa</h3>
    <p>Garanta qualidade  </p>
    <P>R$ <span class="bold">89,90</span></P>
    <a href="a"
class="btn">Comprar</a>            </div>
<div class="card">
    <div class="product-image" id="img-6"></div>
    <h3>Kit camas</h3>
    <p>Camas confortáveis </p>
    <P>R$ <span class="bold">69,90</span></P>
    <a href="a"
class="btn">Comprar</a>            </div>


        </section>
    </main>

    <!--Rodapé-->
    <footer>
        <p><span class="bold">Galeria de Produtos</span>&copy; 2022</p>

    </footer>
</body>
</html>