<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Document</title>
</head>

<body>
    <header>
        <span class="header">
            <!--crio um span geral para a caixa grande e outros 3 para as caixas de dentro?-->

            <!--redirecionar para página inicial-->
            <a rel="stylesheet" href="#"><img class="logo-loja" src="" alt="logo da loja"></a>

            <form class="search" action="">
                <label for="search"></label>
                <input type="text" id="search" name="search" placeholder="pesquisar itens">

                <button type="submit"><img class="logo-pesquisar" src="../img/logo-lupa.png" alt="pesquisar"></button>
            </form>

            <a rel="stylesheet" href="./login.html"><img class="acess-links" src="../img/logo-login.png"
                    alt="logo-login"></a>

            <a rel="stylesheet" href="#"><img src="../img/logo-carrinho.png" alt="logo-carrinho"></a>
        </span>

        <div class="links-departamentos">
            <span>
                <!--precisa da tag "link" ou pode usar só a tag "a"?-->
                <link rel="stylesheet" href=""><a href="https://www.petz.com.br/" target="_blank">Cachorros</a></link>
                <a href="https://www.petz.com.br/" target="_blank">Gatos</a>
                <a href="#" target="_blank">Pássaros</a>
                <a href="#" target="_blank">Peixes</a>
                <a href="#" target="_blank">Outros Pets</a>
                <a href="#" target="_blank">Promoções</a>
            </span>
        </div>

    </header>

    <footer>

        <div class="contato">
            <p>Endereço:</p>
            <p>Rua dos Bobos, 000, Cidade da Fantasia</p>
            <p>
                <a href="tel:0800000000">SAC: 0800.000.000</a>
            </p>
        </div>

        <div class="container-localizacao">
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29259.124051186343!2d-46.634810433842276!3d-23.554414419392366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1648321963229!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="links-footer">
            <link rel="stylesheet" href=""><a href="#">Sobre nós</a></link>
            <link rel="stylesheet" href=""><a href="#">Trocas e devoluções</a></link>
            <link rel="stylesheet" href=""><a href="#">Fale conosco</a></link>
            <link rel="stylesheet" href=""><a href="#">Dúvidas frequntes</a></link>
            <link rel="stylesheet" href=""><a href="#">Trabalhe conosco</a></link>
        </div>

        <div class="social-medias">
            <ul>
                <li><a rel="stylesheet" href="http://www.facebook.com/" target="_blank"><img
                            src="../img/faebook-logo.png" alt="logo-facebook"></a></li>
                <li><a rel="stylesheet" href="http://instagram.com/" target="_blank"><img
                            src="../img/instagran-logo.png" alt="logo-instagram"></a></li>
                <li><a rel="stylesheet" href="http://youtube.com/" target="_blank"><img src="../img/youtube-logo.png"
                            alt="logo-youtube"></a></li>
            </ul>


        </div>


    </footer>

</body>

</html>