<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Erro</title>
</head>
<body>
    <div class="container-notFound">
        <img class="notFound" src="../images/logos/logo-roxo-escrita-em-baixo.jpg" alt="">
        <p class="notFound">OPS!</p>
        <p class="notFound">A página que você está procurando não existe!</p>
        <a class="notFound" href="/">Voltar para o início</a>
    </div>
</body>
</html>