<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
</head>


<body>

    <header>
        <div class="center-finalizacao">
            <div class="logo-finalizacao" style="display:flex; align-items:center;">
                <img src="/images/logos/logo-roxo-escrita-em-baixo.jpg" alt="foto logo" width="60" height="60">

            </div>
            <!--logo-->

            <div class="menu-finalizacao">
                <i class="fa-solid fa-bag-shopping"></i>
                <a href="#">Sacola</a>

                <i class="fa-solid fa-cat"></i>
                <i class="fa-solid fa-dog"></i>
                <a href="#">Identificação</a>

                <i class="fa-solid fa-credit-card"></i>
                <i class="fa-solid fa-money-bill-1"></i>
                <a href="#">Pagamento</a>

                <i class="fa-solid fa-circle-check"></i>
                <a href="#">Confirmação</a>

                <i class="fa-solid fa-id-card"></i>
                <a href="#">Minha conta</a>

                <a class="btn-menu" href="#">Sair</a>
            </div>
            <!--menu-->
        </div>
        <!--center-->

    </header>


    <section class="main-finalizacao">
        <div class="center-finalizacao">
            <div class="main__cta">
                <h2>Obrigado por comprar na Happy Pet</h2>
                <p>Seu Pet Feliz</p>
            </div>
            <!--main-cta-->


            <section class="finalizacao container"
                style="display: flex; flex-wrap:wrap; justify-content:space-between; width: 100%;">
                <article>
                    <h2>Anote o número do seu pedido</h2>
                    <h5>pedido realizado em data </h5>

                    <h5>02-468101214016</h5>

                    <h5>Você receber a confirmação do pedido no seu e-mail cadastrado</h5>


                    <section class="entrega" style="margin-top: 50px;">
                        <h2>Previsão de entrega</h2>
                        <p>o prazo de entrega começa a contar apos aprovação da instituição financeira</p>
                    </section>

            </section>
            <!--main-->


            <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>

</body>

</html>