<%- include('./partials/header') %>
   <%- include('./partials/head') %>
    <!--<head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head> /-->

    <body class="obrigado">

        <main class="obrigado-final">

            <form class="obrigado-fim" action="/admin/acaologin" method="post">
                <div class="obrigado">
                  <h1>AGRADECEMOS SUA COMPRA!</h1>
                  <h2 style="color:white;">Happy Pet </h2>
                  <h3>Anote o número do seu pedido:</h3>
                  <h4>124578</h4>
    
                  <h5 style="color:white;">Você receberá a confirmação do pedido no seu e-mail cadastrado.</h5>
                </div>

               
                       
                    </div>
                </div>
                
            </form>


        </main>

    </body>

    <!--<body>

        <section class="main-finalizacao">
            <div class="center-finalizacao">
                <div class="main__cta-obrigado">
                    <h1>Obrigado por comprar na Happy Pet</h1>
                    <p>Seu Pet Feliz</p>
                </div>
                


                <section class="obrigado-container">
                    
                        <h2>Anote o número do seu pedido</h2>
                        <h3>pedido realizado em data </h3>
                        <h4>02-468101214016</h4>
                        <h5>Você receber a confirmação do pedido no seu e-mail cadastrado</h5>


                        <section class="entrega" >
                            <h2>Previsão de entrega</h2>
                            <p>o prazo de entrega começa a contar apos aprovação da instituição financeira</p>
                        </section>

                </section>
            </main> /-->


                <script src="https://kit.fontawesome.com/0822f5875d.js" crossorigin="anonymous"></script>

    </body>

    </html>

    