<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="body-login">
    

    <main class="formulario-login">

        <form class="acessar-conta-login">
            <h2 class="login">Acesse sua conta</h2>
            <div class="formulario-email-senha-login">
                <label for="email"></label>
                <input class="input-login" type="email" id="email" name="email" placeholder="email@email.com.br">

                <label for="senha"></label>
                <input class="input-login" type="password" id="senha" name="senha" placeholder="Digite sua senha">
            </div>
            <a href="#">Esqueci minha senha</a>

            <button class="login" type="submit">Entrar</button>
        </form>

        <a href="/criarConta">Não tem cadastro? Crie uma aqui!</a>

    </main>


</body>

</html>