<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f981ec0698.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/painelUsuario.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@400;700&display=swap');
        </style>
    
        <title>Happy Pet</title>
    
    </head>
    

<body>
 <!-- MEU HEADER
     
    <header>
        <h1>HAPPY PET</h1>
        <p>Seu pet, sempre happy!</p>
        <img src="../img/logo-loja.jpg"  alt="img de animais">
        
        <nav>
            <a href="">Cães</a>
            <a href="">Gatos</a>
            <a href="">Acessórios</a>
            <a href="">Banho</a>
            <a href="">Outros</a>
        </nav>
         
         <button>perfil</button>
         <button>carrinho</button>

    </header>  -->

    <!--header do Pablo-->
    

        <header class="menu-principal">
            <img class="logo" src="../img/logo.jpg" alt="logo">
           
            <div class="barra-de-pesquisa">
                <input class="search-txt" type="text" name="" placeholder="O que seu pet precisa?" required />
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="perfil">
                <button type="submit"><i class="fa-solid fa-user"></i></button>
            </div>
    
            <div class="carrinho-de-compras">
                <button type="submit"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </header>
    
        <section class="coisas">
            <div class="servicos"></div>
            <ol>
                <li><a href="#">Cachorros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Outros Pets</a></li>
                <li><a href="#">Raças</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Acessorios</a></li>
    
            </ol>
        </section>

<section class ='meus-dados'>
  <h2>MEUS DADOS</h2>
</section>



<section class ='dados-container'>
   <form> 
    <div class = 'logo-perfil'>
  
        <img src="https://images.unsplash.com/photo-1582415892501-9d50fafdbd9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" srcset="">
     
     </div>


    <label for = 'nome'>Nome Completo*</label>
       <input type="text" id="nome"
       name="nome" placeholder="Digite seu nome completo" required>


    <label for = 'data-de-nascimento'>Data de nascimento*</label>
       <input type="text" id="data-de-nascimento" 
       name="data de nascimento" placeholder="Digite seu nascimento" required>
  
  
    <label for= 'Email'>Seu e-mail*</label>
       <input type="text" id="email"
       name="email" placeholder="Seu e-mail aqui" required>
   
    <label for= 'telefone'>DDD + Telefone*</label>
    <input type="text" id="telefone"
     name="telefone" placeholder="DDD + Telefone" required>
    
  
    <label for= 'sexo'>Sexo*</label>
    <input type="text" id='sexo'
    name="sexo" placeholder="Sexo" required>
    
  
    <label for='cpf'>CPF*</label>
    <input type="text" id='cpf'
    name="cpf" placeholder="Seu CPF" required>
    

    <label for= 'senha'>Senha*</label>
    <input type="text" id="senha"
    name="senha" placeholder="Digite sua SENHA" required>
    
 
    <label for= 'confirmar-senha'>Confirme sua Senha*</label>
    <input type="text" id="confirmar senha"
    name="conf senha" placeholder="Digite sua SENHA novamente" required>
    
    
    <label for= 'endereco'>Endereço*</label>
    <input type="text" id="endereço"
    name="endereco" placeholder="Digite sua Endereço" required>
    
    
    <label for= 'cep'>CEP*</label>
    <input type="text" id="CEP"
    name="cep" placeholder="Digite seu CEP" required>
    
    
    <button>salvar</button>

</form>
</section>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
  
  

<button id="btn-1">Repetir Pedido</button>
<button id="btn-2">Ver mais Detalhes</button>

 </main>
<!-- MEU FOOTER
    
    <footer>
    
    <span class="contato">
        <h5>Endereço:</h5>
        <p>Rua dos Bobos, 000, Cidade da Fantasia</p>
        <p>SAC: 0800.000.000</p>
    </span>

    <span class = 'links-footer'>

            <link rel="stylesheet" href=""><a href="#">Sobre nós</a></link>
            <link rel="stylesheet" href=""><a href="#">Trocas e devoluções</a></link>
            <link rel="stylesheet" href=""><a href="#">Fale conosco</a></link>
            <link rel="stylesheet" href=""><a href="#">Dúvidas frequntes</a></link>
            <link rel="stylesheet" href=""><a href="#">Trabalhe conosco</a></link>
        
    </span> 

     <span class="social-medias">
       
        <a rel="stylesheet" href="http://www.facebook.com/" target="_blank"><img src="../img/faebook-logo.png" alt="logo-facebook"></a>

        <a rel="stylesheet" href="http://instagram.com/" target="_blank"><img src="../img/instagran-logo.png" alt="logo-instagram"></a>

        <a rel="stylesheet" href="http://youtube.com/" target="_blank"><img src="../img/youtube-logo.png" alt="logo-youtube"></a>
      
    </span>
-->

    <!--<div class="mapa">
    <a href="https://www.google.com.br/maps" target="_blank"><img class="googlemaps" src="../img/googlemaps.png" alt="mapa de endereço"></a>
    </div>-->
  
   
    <footer>
        <div class="container">
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.372172194117!2d-46.798959485020994!3d-23.626839084650385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5492713d128d%3A0x32379aed41a05d93!2sR.%20Est%C3%A2ncia%20Velha%2C%20215%20-%20Jardim%20Record%2C%20Tabo%C3%A3o%20da%20Serra%20-%20SP%2C%2006784-160!5e0!3m2!1spt-BR!2sbr!4v1648335925608!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            <div class="info">

                <p>Happy Pet <br> <br> Seu bicho feliz :)</p>
                <p>São Paulo, Brasil</p>

                <p><a href="tel:+55986494613">+ (11) 98649-4613</a></p>
                <p><a href="mailto:bichofeliz@gmail.com">bcihofeliz@gmail.com</a></p>

                <h4>Nossas redes sociais</h4>
                <div class="social-medias">
                    <ul>
                        <li>
                            <a href="" target="_blank">
                                <button class="fa-brands fa-whatsapp"></button>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <button class="fa-brands fa-instagram"></button>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <button class="fa-brands fa-facebook"></button>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </footer>

 </body>
</html>