<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Usuario</title>
    <link rel="stylesheet" href="../css/painelUsuario.css">
</head>

<body>
    <header>

        <img class="logo" src="../img/logos/logo-roxo-escrita-em-baixo.jpg" alt="img de animais">

        <nav>
            <a href="">Cães</a>
            <a href="">Gatos</a>
            <a href="">Acessórios</a>
            <a href="">Banho</a>
            <a href="">Outros</a>
        </nav>

        <div class="acessos">
            <img src="../img/logos/logo-login.png" alt="">
            <img src="../img/logos/logo-carrinho.png" alt="">
        </div>
    </header>

    <section class='meus-dados'>
        <h2>MEUS DADOS</h2>

        <div class="container">
            <div class='nome'>Nome Completo
                <input type="nome" name="nome" placeholder="Digite seu nome completo">
            </div>

            <div class='data de nascimento'>Data de nascimento
                <input type="nascimento" name="data de nascimento" placeholder="Digite seu nascimento">
            </div>

            <div class='Sua Foto'>Sua foto
                <input type="Sua foto" name="Sua foto" placeholder="Sua FOTO aqui">
            </div>

            <div class='telefone'>DDD + Telefone
                <input type="telefone" name="telefone" placeholder="DDD + Telefone">
            </div>

            <div class='sexo'>Sexo
                <input type="sexo" name="sexo" placeholder="Sexo">
            </div>

            <div class='cpf'>CPF
                <input type="cpf" name="cpf" placeholder="Seu CPF">
            </div>

            <div class='senha'>Senha
                <input type="senha" name="senha" placeholder="Digite sua SENHA">
            </div>

            <div class='confirmar senha'>Confirme sua Senha
                <input type="conf senha" name="conf senha" placeholder="Digite sua SENHA novamente">
            </div>

            <div class='endereco'>Endereço
                <input type="endereco" name="endereco" placeholder="Digite sua Endereço">
            </div>

            <div class='cep'>CEP
                <input type="cep" name="cep" placeholder="Digite seu CEP">
            </div>

            <button>Salvar</button>
        </div>
    </section>

    <main class="historico-de-compras">
        <h3>Histórico de compras</h3>

        <ul>
            <li>Número-17151821</li>
            <li>Data-13/03/2022</li>
            <li>Total-R$65,00</li>
            <li>Status-Entregue</li>
            <li>Detalhes-Finalizado</li>
        </ul>
        <span class="resumo-do-pedido">
            <h4>Resumo do pedido</h4>

            <p>Osso Bonpet Natural para Cão
            <ul>Quantidade
                <il>Preço-R$25,00</il>
            </ul>
            </p>

            <p>Fungicida Forth 500ml
            <ul>Quantidade
                <il>Preço-R$40,00</il>
            </ul>
            </p>
        </span>

        <button id="btn-1">Repetir Pedido</button>
        <button id="btn-2">Ver mais Detalhes</button>

    </main>
    <footer>

        <span class="contato">
            <h5>Endereço:</h5>
            <p>Rua dos Bobos, 000, Cidade da Fantasia</p>
            <p>SAC: 0800.000.000</p>
        </span>

        <span class='links-footer'>

            <a href="#">Sobre nós</a>
            <a href="#">Trocas e devoluções</a>
            <a href="#">Fale conosco</a>
            <a href="#">Dúvidas frequntes</a>
            <a href="#">Trabalhe conosco</a>

        </span>

        <!--<div class="mapa">
    <a href="https://www.google.com.br/maps" target="_blank"><img class="googlemaps" src="../img/googlemaps.png" alt="mapa de endereço"></a>
    </div>-->

        <span class="social-medias">

            <a rel="stylesheet" href="http://www.facebook.com/" target="_blank"><img src="../img/logos/faebook-logo.png" alt="logo-facebook"></a>

            <a rel="stylesheet" href="http://instagram.com/" target="_blank"><img src="../img/logos/instagran-logo.png"
                    alt="logo-instagram"></a>

            <a rel="stylesheet" href="http://youtube.com/" target="_blank"><img src="../img/logos/youtube-logo.png"
                    alt="logo-youtube"></a>

        </span>


    </footer>
</body>

</html>