<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>

    <!--Produtos-->
    <main class="produtos-container">
        <section class="=produtos-container-section">
            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-1"></div>
                <h3 class = "produtos-container-title" >Ração Golden </h3>
                <p class="produtos-container-info">Ração Golden Special </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>149,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>

            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-2"></div>
                <h3 class = "produtos-container-title">Casa ROSA</h3>
                <p class="produtos-container-info">Casa número 9 </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>130,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>
            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-3"></div>
                <h3 class = "produtos-container-title" >Toalha Umidecida</h3>
                <p class="produtos-container-info">Para higieni de seu Pet </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>49,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>
            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-4"></div>
                <h3 class = "produtos-container-title" >Caixa de Transpote</h3>
                <p class="produtos-container-info">Transporte seu pet </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>149,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>
            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-5"></div>
                <h3 class = "produtos-container-title" >Máquina para tosa</h3>
                <p class="produtos-container-info">Garanta qualidade </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>89,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>
            <div class="produtos-container-card">
                <div class="produtos-container-image" id="produtos-img-6"></div>
                <h3 class = "produtos-container-title" >Kit camas</h3>
                <p class="produtos-container-info">Camas confortáveis </p>
                <p class="produtos-container-info">R$ <span class='produtos-container-price'>69,90</span></p>
                <a href="a" class='produtos-container-btn'>Comprar</a>
            </div>


        </section>
    </main>

    <!--Rodapé-->

    <%- include('./partials/footer') %>