<%- include('./partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/produtos.css">
   
</head>

    <!--Produtos-->
    <main class="container">
        <section class="=products-container">
            <div class="card">
                <div class="product-image" id="img-1"></div>
                <h3>Ração Golden </h3>
                <p class="prosutos">Ração Golden Special </p>
                <p class="prosutos">R$ <span class="bold">149,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>

            <div class="card">
                <div class="product-image" id="img-2"></div>
                <h3>Casa ROSA</h3>
                <p class="prosutos">Casa número 9 </p>
                <p class="prosutos">R$ <span class="bold">130,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="product-image" id="img-3"></div>
                <h3>Toalha Umidecida</h3>
                <p class="prosutos">Para higieni de seu Pet </p>
                <p class="prosutos">R$ <span class="bold">49,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="product-image" id="img-4"></div>
                <h3>Caixa de Transpote</h3>
                <p class="prosutos">Transporte seu pet </p>
                <p class="prosutos">R$ <span class="bold">149,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="product-image" id="img-5"></div>
                <h3>Máquina para tosa</h3>
                <p class="prosutos">Garanta qualidade </p>
                <p class="prosutos">R$ <span class="bold">89,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>
            <div class="card">
                <div class="product-image" id="img-6"></div>
                <h3>Kit camas</h3>
                <p class="prosutos">Camas confortáveis </p>
                <p class="prosutos">R$ <span class="bold">69,90</span></p>
                <a href="a" class="btn">Comprar</a>
            </div>


        </section>
    </main>

    <!--Rodapé-->

    <%- include('./partials/footer') %>