<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Página de cadastro</title>
</head>
<body>
    <header></header>

    <main>

        <form action="">
            <h2>Cadastre-se:</h2>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="digite seu nome completo" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="email@email.com.br" required>

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="(xx)xxxxx-xxxx" required>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required>

            <label for="numero">Número:</label>
            <input type="number" id="numero" name="numero" required>

            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" name="complemento">

            <label for="cep">CEP:</label>
            <input type="number" id="cep" name="cep" required>
        
            <label for="senha">Cadastrar senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <!--direcionar para a página de cadastro-->
            <button type="submit"><a href="#">Cadastrar</a> </button>
            
        </form>

    </main>


    <footer></footer>

</body>
</html>