/*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.carrinho-center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

header {
    background-color: #6A5495;
    padding: 30px 0;
    border-bottom: 2px solid #ED5EDD;
}

.logo-carrinho {
    color: #6A5495;
    padding-top: 0;
    border-top: 0;
    width: 50px;
    height: 50px;
}

.logo-carrinho h2 {
    font-weight: normal;
    color: #6A5495;
}

.logo-carrinho img {
    width: 200px;
    padding-top: 0;
    border-top: 0;
    height: 100px;
}

.menu-carrinho {
    width: 90%;
    text-align: right;
    color: #EFEFEF;
    padding-bottom: 0;
    margin-top: 25px;
}

.menu-carrinho a {
    color: #EFEFEF;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu-carrinho a:hover {
    color: #ED5EDD;
}

.menu-carrinho .btn-menu-carrinho {
    background-color: #EFEFEF;
    display: inline-block;
    padding: 8px 16px;
    color: #6A5495;
    border-radius: 5px;
}

.menu-carrinho .btn-menu-carrinho:hover {
    background-color: #ED5EDD;
    color: #EFEFEF;
}

/* Section main-carrinho 

section.main-carrinho {
    padding: 5px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-carrinho__cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main-carrinho__cta h2 {
    color: #6A5495;
    font-size: 40px;
}

.main-carrinho__cta p {
    color: #6A5495;
    font-size: 19px;
    margin: 10px 0 50px 0;

}

button.calcular-frete-carrinho {
    background-color: #6A5495;
    display: inline-block;
    padding: 8px 30px;
    color: #EFEFEF;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background-color: #ED5EDD;
}

section.finalizacao-container-carrinho {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

section.escolher-carrinho{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

.diferencial-single {
    border-radius: 10px;
    background-color: #EFEFEF;
    width: 20%;
    margin-right: 1%;
    padding: 50px 20px;
}

.diferencial-single p {
    font-size: 14px;
    margin: 1px 0;
    color: #EFEFEF;
    line-height: 20px;
}

.diferencial-single h2 {
    font-size: 15px;
    margin: 10px 0;
    font-size: 15px;
}

article h2 {
    color: #6A5495;
}

article p {
    color: #6A5495;
}

h5, h2, p {
    color: #6A5495;
}

input {
    height: 30px;
}

NÃO TEM @MEDIA (BIA)