* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EFEFEF;
}
/* HEADER ----------------*/
header {
    width: 100%;
    background-color: #6A5495;
    justify-content: space-around;
    /*position: fixed;*/
    border-bottom: 2px solid #ED5EDD;
}

header .container-header {
    display: block;
}

header .logo-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:  space-between;
}

header .container-header .logo-header img {
    display: flex;
    width: 150px;
    margin-left: 40px;
}

.barra-de-pesquisa{
    display: flex;
    flex-wrap: wrap;
}

.barra-de-pesquisa button {
    cursor: pointer;
    color: #EFEFEF;
    background-color: #FF8CB7;
    padding: 8px 20px;
    border: none;
    border-radius: 0px 4px 4px 0px;

}

.barra-de-pesquisa input {
    font-size: 16px;
    border: none;
    padding: 8px;
    width: 700px;
    border-radius: 4px 0px 0px 4px;
    outline: none;
}



.fa-solid {
    color: #EFEFEF;
}

.fa-solid:hover, .container-second .dropdown i:hover {
    color: #ED5EDD;
}


.container-second {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: space-around;
}

.perfil button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    color: #EFEFEF;
    border: none;
    margin: 0 15px;
}

.carrinho-de-compras button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    color: #EFEFEF;
    border: none;
    margin: 0 15px;

}

.header-categorias {
    justify-content: center;
    display: flex;
}

.header-categorias li {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 20px;
}

.header-categorias li a { 
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-size: 20px;
    padding: 5px;
    color: #EFEFEF;
}

ul li:hover a{
    background: #EFEFEF;
    color: #6A5495;
    border-radius: 5px;
    opacity: 0.8;
}

.container-second .dropdown{
    display: none;
}

.container-second .dropdown .fa-bars:before{
    font-size:35px;
}

@media(max-width: 800px){
    .barra-de-pesquisa, .header-categorias{
        display: none;
    }

    header .container-header .logo-header img{
        width: 90px;
    }

    .container-second .dropdown{
        display: block;
    }
}


/* FOOTER ----------------*/
footer {
    bottom: 0px;
    width:100%;
    height: 30%;
    background-color: #6A5495;
}

.container-footer {
    display: flex;
    width: 100%;

}

.caixa {
    padding: 5px;
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.caixa h2.footer {
    font-size: 18px;
    font-weight: 600;
}

.caixa p.footer {
    text-align: justify;
    margin-top: 10px;
}

.caixa .content-footer {
    margin: 15px 0 0 0;
}

.esquerda {
    width: 65%;
   
}

.esquerda .content-footer {
    margin-left: 5%;
    width: 100%;
}

.esquerda .content .social-medias {
    margin: 20px 0 0 0;
}

.esquerda .content-footer .social-medias img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.centro {
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 40%;
}

.centro .content-footer {
    width: 100%;
}

.icone {
    color: #EFEFEF;
}

.centro .content-footer .endereco span:hover {
    text-decoration: underline 2px #ED5EDD;
}

.centro .content-footer img {
    width: 15px;
    margin-top: 10px;
}

.direita .content-footer form {
    margin-top: 10px;
}

.direita {
    width: 30%;
}

.direita .content-footer {
    width: 100%;
}

.direita form input, .direita form textarea {
    width: 100%;
    margin-top: 5px;
}

.botao-footer button{
    color: #6A5495;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.botao-footer button:hover {
    opacity: 0.5;
}

@media (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .container-footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .caixa {
        margin: 5px 0;;
    }

    .centro {
        text-align: center;
        width: 70%;
    }

    .caixa h2.footer {
        text-align: center;
    }

    .centro .content-footer .icone img {
        margin-left: 15px;
    }

    .esquerda .content-footer .social-medias {
        text-align: center;
        margin-top: 15px;
    }

    .direita {
        width: 70%;
        margin-bottom: 50px;
    }
}
