*{
    box-sizing: border-box;
}

body{
    font-family: comfortaa;
    background: #EFEFEF;
}

section.produtos .container{
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.produtos article{
    width: 350px;
}

section.produtos article img{
    width: 125px;
    height: 250px;
}

section.produtos article  .info{
    padding: 15px;
}

section.produtos article  .info>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.produtos article .price{
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0;
}

h2, h3, h4, li {
    color: #6A5495;
}

.flex-container-produtointerno {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 80vh;
}

.botao {
    color:#EFEFEF;
    background-color: #6A5482;
    
    border-radius: 5px;
    padding: 10px;
}

.botao:hover {
    background-color: #ED5EDD;
    border-color: #ED5EDD;
}
  
@media (max-width: 800px){
    section.lofts article{
        margin: 10px;
    }

    .container{
        padding: 0 15px;
    }

}


@media (max-width: 600px){
    section.lofts .container{
        flex-wrap: wrap;
    }

    section.lofts article{
        width: 100%;
    }
}