/*estilo CSS global*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Confortaa', cursiva;
    background: #EFEFEF;

   /* BODY do css de CRIAR CONTA
   
   display: block;
    /*justify-content: center;
    height: 100vh;
    overflow-x: hidden*/

} 


/*estilo Página PRODUTOS*/

.produtos-container{
    background-color: #EFEFEF;
    min-height: 60vh;
    padding: 50px;
}

.produtos-container-section{
    max-width: 1200px;
    margin: 0 auto;
}

.produtos-container-card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.produtos-container-image{
    height: 300px;
    width: 350px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;

}

#produtos-img-1{
    background-image: url('/images/produtos/racao1.jpg');
    width: 100%;
}

#produtos-img-2{
    background-image: url('/images/produtos/casarosa2.jpg');
    width: 100%;
}

#produtos-img-3{
    background-image: url('/images/produtos/toalha3.jpg');
    width: 100%;
}

#produtos-img-4{
    background-image: url('/images/produtos/caixatrans4.jpg');
    width: 100%;
}

#produtos-img-5{
    background-image: url('/images/produtos/maquinatosa5.jpg');
    width: 100%;
}

#produtos-img-6{
    background-image: url('/images/produtos/cama6.jpg');
    width: 100%;
}

.produtos-container-title{
    margin-bottom: 10px;
    color: #6a5495;
    border-left: 5px solid #403653;
    padding-left: 5px;
    font-size: 24px;
}

.produtos-container-price{ 
    font-weight: bold;
}

.produtos-container-btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #6A5495;
    color: #EFEFEF;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.produtos-container-btn:hover{
    background-color: #403653;
}

.produtos-container-info, span {
    color: #6a5495;
}

/*CSS de FINALIZAR,OBRIGADO e CARRINHO*/



.finalizacao { /*header*/
    background-color: #6A5495;
    padding: 30px 0;
    border-bottom: 2px solid #ED5EDD;
    margin: 20px;
}

.center-finalizacao{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.logo-finalizacao {
    color: #6A5495;
    padding-top: 0;
    border-top: 0;
    width: 50px;
    height: 50px;
}

.menu-finalizacao {
    width: 90%;
    text-align: right;
    color: #EFEFEF;
    padding-bottom: 0;
    margin-top: 25px;
}

.menu-finalizacao a {
    color: #EFEFEF;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu-finalizacao a:hover {
    color: #ED5EDD;
}

.menu-finalizacao .btn-menu-finalizacao {
    background-color: #EFEFEF;
    display: inline-block;
    padding: 8px 16px;
    color: #6A5495;
    border-radius: 5px;
}

.menu-finalizacao .btn-menu-finalizacao:hover {
    background-color: #ED5EDD;
    color: #EFEFEF;
}


.logo-finalizacao h2 {
    font-weight: normal;
    color: #6A5495;
}

.logo-finalizacao img {
    width: 200px;
    padding-top: 0;
    border-top: 0;
    height: 100px;
}

/* -------------Section main-finalizar */

section.main-finalizacao {
    padding: 5px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-finalizacao__cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main-finalizacao__cta h2 {
    color: #6A5495;
    font-size: 40px;
}

.main-finalizacao__cta p {
    color: #6A5495;
    font-size: 19px;
    margin: 10px 0 50px 0;

}

button.calcular-frete-carrinho {
    background-color: #6A5495;
    display: inline-block;
    padding: 8px 30px;
    color: #EFEFEF;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    margin: 15px 0;
}

button:hover {
    background-color: #ED5EDD;
}

section.finalizacao-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

section.escolher-carrinho{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

.diferencial-single {
    border-radius: 10px;
    background-color: #EFEFEF;
    width: 20%;
    margin-right: 1%;
    padding: 50px 20px;
}

.diferencial-single p {
    font-size: 14px;
    margin: 1px 0;
    color: #EFEFEF;
    line-height: 20px;
}

.diferencial-single h2 {
    font-size: 15px;
    margin: 10px 0;
    font-size: 15px;
}

article h2 {
    color: #6A5495;
}

article p {
    color: #6A5495;
}

h5, h2, p {
    color: #6A5495;
}

input {
    height: 30px;
}

/*css da CRIARCONTA*/

/* formulario Login-------------------- */

main.formulario-login {
    background-color: #6A5495;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 1000px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

form.acessar-conta-login {
    padding: 50px;
}

main form.criar-conta {
    align-content: space-between;
    background-color: #6A5495;
    color: #EFEFEF;
    margin: 5px auto;
    text-align: center;
    padding: 90px;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

h2.login {
    padding: 0px 0px 15px;
    margin-top: 0px;
    color: #EFEFEF;

}

main form div.dados-cadastrais-conta {
    flex-wrap: wrap;
    padding-bottom: 0.2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly
}

main form input {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EFEFEF;
    margin: 8px 70px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    display: block;
}


main a {
    font-size: 15px;
    color: #EFEFEF;
    text-decoration: underline 2px #ED5EDD;
}
main a:hover {
    text-decoration: underline 2px #ED5EDD;
    background-color: #ED5EDD
}

main p {
    font-size: 15px;
    color: #EFEFEF;
    margin-top: 20px;
}

form button.login {
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 5px 75px;
    border-radius: 5px;
    margin-top: 30px;
    color: #6A5495;
    background-color: #EFEFEF;
    border: none;
    opacity: 0.8;
}

form button.login:hover {
    opacity: 0.5;
    padding: 6px 77px;
    margin: 28px auto;
}
main.formulario-login {
    background-color: #6A5495;
    text-align: center;
    padding: 25px;
    display: block;
    font-size: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 1000px;
    margin: 5px auto;
}


main form.criar-conta {
    align-content: space-between;
    background-color: #6A5495;
    color: #EFEFEF;
    margin: 5px auto;
    text-align: center;
    padding: 50px;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

main form h2.login {
    padding: 0px 0px 15px;
    margin-top: 0px;

}

main form div.dados-cadastrais-conta {
    padding-bottom: 0.2px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

input.inserir-dados-cadastro {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EFEFEF;
    margin: 10px 50px;
    text-align: center;
    padding: 15px 70px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    display: block;
}

label.inserir-dados-cadastro {
    color: #EFEFEF;
}

main a {
    font-size: 15px;
    color: #EFEFEF;
    text-decoration: underline 2px #ED5EDD;
}
main a:hover {
    text-decoration: underline 2px #ED5EDD;
    background-color: #ED5EDD
}

main p.termos {
    font-size: 15px;
    color: #EFEFEF;
    margin-top: 20px;
}

form button.login {
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 7px 75px;
    border-radius: 5px;
    margin-top: 30px;
    color: #6A5495;
    background-color: #EFEFEF;
    border: none;
    opacity: 0.8;
}

form button.login:hover {
    opacity: 0.5;
    padding: 9px 77px;
    margin: 28px auto;
}

@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body.body-login {
        height: 90vh;
    }
}


/*Css da PRODUTOINTERNO*/

/* ---------as section não estão no PRODUTOINTERNO.EJS, eram referente ao HEADER??------*/

section.produtos .container{
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.produtos article{
    width: 350px;
}

section.produtos article img{
    width: 125px;
    height: 250px;
}

section.produtos article  .info{
    padding: 15px;
}

section.produtos article  .info>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.produtos article .price{
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0;
}

.flex-container-produto-interno {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 80vh;
}

h2, h3, h4, ul.produto-interno{
    color: #6A5495;
}

.botao-produto-interno {
    color:#EFEFEF;
    background-color: #6A5482;
    
    border-radius: 5px;
    padding: 10px;
}

.botao-produto-interno:hover {
    background-color: #ED5EDD;
    border-color: #ED5EDD;
}
  
/*CSS da página PAINEL DO USUÁRIO */

/* -------css do botao de salvar dos meus dados */
#submit-button{
    padding: 10px 80px;
    border-radius: 4px;
    background-color: #6A5495;
    border: none;
}
#submit-button:hover{
    background-color: #4d3a74;
}
/* ---------css do botao de salvar dos meus dados */
/* ---------css do botao de resumoo do pedido */
button#pedido{
    background: #6A5495;
    border: none;
}
/* css do botao de resumoo do pedido */
.dados-container div{
 font-size: 100%;
 margin: auto;
}
/* -----------------INICIO AJUSTES ALINE  -------------------*/
.paine-usuario-conteudo h2, label, select.form-control, input.form-control {
    color: #6A5495;
}



th, td {
    color: #6A5495;
}


#button-detalhes {
    background-color: #ED5EDD;
}



/* -----------------FIM AJUSTES ALINE  -------------------*/


/* CSS da pagina HOME/*
/* ------- CONTEUDO PRINCIPAL -------*/
section.banner-home .carousel-home {
    width: 907px;
}

img.home-carousel {
    width: 100%;
    height: 50vh;
}

.carousel-home {
    margin: auto auto;
    position: relative;
}


section.banner-home .carousel-home .controls-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.banner-home .carousel-home .controls-home button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}

section.banner-home .carousel-home .controls-home button img {
    width: 15px;
}

section.produtos-home .container-home {
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.produtos-home article {
    width: 350px;
    background-color: rgb(189, 189, 189);
}

section.produtos-home article img {
    width: 125px;
    height: 250px;

}

section.produtos-home article .info-home {
    padding: 15px;
}

section.produtos-home article .info-home>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.produtos-home article .price-home {
    font-size: 25px;
    color: black;
    font-weight: 400;
    margin: 5px 0;
}

img.home-produtos {
    width: 20px;
}

/* css PÁGINA LOGIN */

.body-login header div main {
    font-family: 'Confortaa', cursiva;
    background-color: #EFEFEF;
    display: block;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* header ----------------------------- */
header div.logo-site-login {
    border: none;
    max-width: 100%;
    width: 1000px;
    margin: 5px auto;
    margin-top: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header div a {
    text-decoration: none;
    margin: 5px auto;
    text-align: center;
    padding: 25px;
}

header div.logo-site img {
    width: 90px;
}

/* formulario ------------------------- */
main .formulario-login {
    background-color: #6A5495;
    text-align: center;
    padding: 25px;
    display: block;
    font-size: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 1000px;
    margin: 5px auto;
}

main.formulario-login form.acessar-conta-login {
    background-color: #6A5495;
    color: #EFEFEF;
    margin: 15px auto;
    text-align: center;
    padding: 120px;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

main.formulario-login h2 {
    padding-bottom: 30px;
}

main.formulario-login div.formulario {
    padding-bottom: 0.2px;
}

main.formulario-login input {
    background-color: #EFEFEF;
    margin: 15px auto;
    text-align: center;
    padding: 5px;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

main.formulario-login a {
    font-size: 15px;
    color: #EFEFEF;
}

main.formulario-login a:hover {
    text-decoration: underline 2px #EFEFEF;
    font-size: 17px;
}

main.formulario-login button {
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 15px 80px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #EFEFEF;
    border: none;
    opacity: 0.8;
}

main.formulario-login button:hover {
    opacity: 0.5;
    padding: 17px 82px;
    margin: 28px auto;
}




/*MEDIA painelUsuario*/
@media (max-width: 800px){
    .container.pedidos{
        width: 100%;
        margin: auto;
        padding-right: 10%;
        padding-left: 10%;
        background-color: #EFEFEF;
    }  
    }
    .container.pedidos{ 
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 20px;
        text-align: left;
        margin-left: 30px;
        font-size: 25px; 
    }
    .container-resumo{
        font-size: bold;
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 30px;
        text-align: left;
        margin-left: 30px;
        display: flex;
    }
    .click-pedido{
        display: inline;
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 30px;
        text-align: left;
        margin-left: 30px;
    }
    
/*MEDIA produtoInterno*/
@media (max-width: 800px){
    section.lofts article{
        margin: 10px;
    }

    .container{
        padding: 0 15px;
    }

}


@media (max-width: 600px){
    section.lofts .container{
        flex-wrap: wrap;
    }

    section.lofts article{
        width: 100%;
    }
}

/*MEDIA criarConta*/
@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body {
        height: 90vh;
    }

    main form h2 {
        font-size: 27px;
   
    }
}

/*MEDIA pagina HOME*/
@media (max-width: 800px) {
    section.lofts article {
        margin: 10px;
    }

    .container {
        padding: 0 15px;
    }

}


@media (max-width: 600px) {
    section.lofts .container {
        flex-wrap: wrap;
    }

    section.lofts article {
        width: 100%;
    }
}

/*media pagina LOGIN */
/* responsivo ------------------------ */
@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body {
        height: 90vh;
    }
}

/* Página de cadastro--------EM LOGIN---------- */
mains form.criar-conta {
    display: inline;
}