/*---------- estilo CSS global ------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Confortaa', cursiva;
    background: #EFEFEF;
} 

/* ------- PAGINA ADMIN -----------------------*/
.container-admin {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 10px;
}

.formulario-produtos admin-nomeProduto{
    margin:10px 10px 10px 10px;
}

h1.admin {
    color: #6A5495;

}


.botoes-adm{
    padding: 10px;
}

.btn-cadastroProduto{
    padding: 10px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #6A5A95;
    color: white;
}

.btn-editarProduto{
    padding: 10px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #6A5A95;
    color: white;
}

.btn-excluirProduto{
    padding: 10px 10px 10px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #6A5A95;
    color: white;
}

/* ------- FIM DA PÁGINA ADMIN -----------------*/

/* ------- PAGINA HOME -----------------------*/
.banner-home {
    overflow-x: hidden;
}

h1.home, li.home {
    color: #6A5495;
}

img.home-carousel {
    width: 25%;
    height: 50vh;
}

.carousel-home {
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

section.banner-home .carousel-home .controls-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.banner-home .carousel-home .controls-home button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}

section.banner-home .carousel-home .controls-home button img {
    width: 15px;
}

section.produtos-home .container-home {
    display: flex;
    justify-content: center;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100vw;
}

section.produtos-home article {
    width: 400px;
    /*border: solid 1px #FF8CB7; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section.produtos-home article img {
    width: 125px;
    height: 250px;

}

section.produtos-home article .info-home {
    padding: 15px;
}

section.produtos-home article .price-home {
    font-size: 25px;
    color: #6A5495;
    font-weight: 400;
    margin: 5px 0;

}

img.home-produtos {
    width: 20px;
    align-items: center;

}

/* ------- FIM DA PAGINA HOME -----------------------*/

/* ------- PAGINA NOT-FOUND -----------------------*/
body.notFound {
    background-color: #6A5495;
    font-family: 'Confortaa', cursiva;
}

img.notFound {
    width: 40%;
    padding: 30px 0;
}

.container-notFound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.notFound {
    color: #EFEFEF;
    font-size: 25px;
}

a.notFound {
    padding: 30px;
    color: #EFEFEF;
    font-size: 15px;
    text-decoration: underline 2px #FF8CB7;
}

a.notFound:hover {
    color: #FF8CB7;
}

/* ------- ----- -----------------------*/



/*--------- LOGIN E CRIAR CONTA --------- CSS OK --------*/
.body-login {
    background-color: #EFEFEF;
    display: block;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

main.formulario-login {
    background-color: #6A5495;
    text-align: center;
    padding: 25px;
    display: block;
    font-size: 20px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 1000px;
    margin: 5px auto;
}

main form.criar-conta {
    align-content: space-between;
    background-color: #6A5495;
    color: #EFEFEF;
    margin: 5px auto;
    text-align: center;
    padding: 90px;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

h2.login {
    padding: 0px 0px 15px;
    margin-top: 0px;
    color: #EFEFEF;
}

main form div.dados-cadastrais-conta {
    flex-wrap: wrap;
    padding-bottom: 0.2px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

label.inserir-dados-cadastro {
    color: #EFEFEF;
}

input.inserir-dados-cadastro {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EFEFEF;
    margin: 5px 50px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    display: block;
    padding: 10px 70px;
}

main a.termosCondicoes {
    font-size: 15px;
    color: #EFEFEF;
    text-decoration: underline 2px #FF8CB7;
}

main a.termosCondicoes:hover {
    text-decoration: underline 2px #FF8CB7;
    background-color: #FF8CB7
}

main p.termo {
    font-size: 15px;
    color: #EFEFEF;
    margin-top: 20px;
}

button.login-cadastro {
    cursor: pointer;
    display: block;
    margin: 30px auto;
    padding: 1px 120px;
    border-radius: 5px;
    margin-top: 30px;
    color: #6A5495;
    background-color: #EFEFEF;
    opacity: 0.8;
    border: solid #EFEFEF;
}

form button.login-cadastro:hover {
    opacity: 0.5;
    padding: 2px 122px;
    margin: 29px auto;
    background-color: #6A5495;
    color: #EFEFEF;
    border: solid #EFEFEF;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 1rem;
}

.gender-input label{
    font-size: 25px;
    color: #EFEFEF;
    font-size: 17px;
}

@media (max-width: 500px) {
    main form.formulario-login {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body.body-login {
        height: 90vh;
    }
}
/*--------- FINAL DO LOGIN E CRIAR CONTA --------------*/

/*--------------- Página PRODUTOS ----------------*/

.produtos-container{
    background-color: #EFEFEF;
    min-height: 60vh;
    padding: 50px;
}

.produtos-container-section{
    max-width: 1200px;
    margin: 0 auto;
}

.produtos-container-card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.produtos-container-image{
    height: 350px;
    width: 390px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;

}

#produtos-img-1{
    background-image: url('/images/produtos/racao1.jpg');
    width: 100%;
}

#produtos-img-2{
    background-image: url('/images/produtos/casarosa2.jpg');
    width: 100%;
}

#produtos-img-3{
    background-image: url('/images/produtos/toalha3.jpg');
    width: 100%;
}

#produtos-img-4{
    background-image: url('/images/produtos/caixatrans4.jpg');
    width: 100%;
}

#produtos-img-5{
    background-image: url('/images/produtos/maquinatosa5.jpg');
    width: 100%;
}

#produtos-img-6{
    background-image: url('/images/produtos/cama6.jpg');
    width: 100%;
}

.produtos-container-title{
    margin-bottom: 10px;
    color: #6a5495;
    border-left: 5px solid #403653;
    padding-left: 5px;
    font-size: 24px;
}

.produtos-container-price{ 
    font-weight: bold;
}

.produtos-container-btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #6A5495;
    color: #EFEFEF;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.produtos-container-btn:hover{
    background-color: #403653;
}

.produtos-container-info, span {
    color: #6a5495;
}

/*CSS de FINALIZAR,OBRIGADO e CARRINHO*/
section.finalizacao { 
    background-color: #6A5495;
    padding: 30px 0;
    border-bottom: 2px solid #FF8CB7;
    margin: 20px;
}

.center-finalizacao{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 13%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;

}

.logo-finalizacao {
    color: #6A5495;
    padding-top: 0;
    border-top: 0;
    width: 50px;
    height: 50px;
}

div .menu-finalizacao {
    width: 90%;
    text-align: right;
    color: #EFEFEF;
    padding-bottom: 0;
    margin-top: 25px;
}

.menu-finalizacao a {
    color: #EFEFEF;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu-finalizacao .a:hover {
    color: #FF8CB7;
}


.menu-finalizacao .btn-menu-finalizacao {
    background-color: #EFEFEF;
    display: inline-block;
    padding: 8px 16px;
    color: #6A5495;
    border-radius: 5px;
    align-items: right;
}

.menu-finalizacao .btn-menu-finalizacao:hover {
    background-color: #FF8CB7;
    color: #EFEFEF;
}


.logo-finalizacao h2 {
    font-weight: normal;
    color: #6A5495;
}

.logo-finalizacao img {
    width: 200px;
    padding-top: 0;
    border-top: 0;
    height: 100px;
}



/* -------------Section main-finalizar */

section.main-finalizacao {
    padding: 5px 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-finalizacao__cta {
    width: 100%;
    margin: 40px 0;
    text-align: left;
}

a.menu-finalizacao {
    padding: 0 15px;
    border-radius: 4px;
    background-color: #EFEFEF;
    border: solid #EFEFEF;
    color: #6A5495;
}

a.menu-finalizacao:hover {
    background-color: #6A5495;
    border: solid #EFEFEF;
    color: #EFEFEF;
}

button.calcular-frete-finalizacao {
    background-color: #6A5495;
    border-radius: 4px;
    border: solid #6A5495;
}

button.calcular-frete-finalizacao:hover {
    background-color: #EFEFEF;
    color: #6A5495;
    border: solid #6A5495;
}

button.calcular-frete-carrinho {
    background-color: #6A5495;
    display: inline-block;
    padding: 8px 30px;
    color: #EFEFEF;
    border-radius: 6px;
    font-size: 16px;
    border: solid;
    cursor: pointer;
    margin: 15px 0;
}

button.calcular-frete-carrinho:hover {
    background-color: #EFEFEF;
    color: #6A5495;
    border: solid #6A5495;
}

section.finalizacao-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

}

section.escolher-carrinho{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

/*ver onde puxa estes 'difencial-single' */
.diferencial-single {
    border-radius: 10px;
    background-color: #EFEFEF;
    width: 20%;
    margin-right: 1%;
    padding: 50px 20px;
}

.diferencial-single p {
    font-size: 14px;
    margin: 1px 0;
    color: #EFEFEF;
    line-height: 20px;
}

.diferencial-single h2 {
    font-size: 15px;
    margin: 10px 0;
    font-size: 15px;
}

.main__cta-obrigado h2 p {
    color: #6A5495;
}

article p {
    color: #6A5495;
}

h5, h2, p {
    color: #6A5495;
}

input {
    height: 30px;
}
/*--- FINAL CARRINHO, FINALIZAR E OBRIGADO --*/

/*Css da PRODUTOINTERNO*/

/* ---------as section não estão no PRODUTOINTERNO.EJS, eram referente ao HEADER??------*/

section.produtos .container{
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.produtos article{
    width: 350px;
}

section.produtos article img{
    width: 125px;
    height: 250px;
}

section.produtos article  .info{
    padding: 15px;
}

section.produtos article  .info>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.produtos article .price{
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0;
}

h2.produto-interno,
h3.produto-interno, 
h4.produto-interno, 
li.produto-interno {
    color: #6A5495;
} 

.flex-container-produto-interno {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 80vh;
}

button.botao-produto-interno {
    color:#EFEFEF;
    background-color: #6A5482;
    border: solid #6A5482;
    border-radius: 5px;
    padding: 10px;
}

button.botao-produto-interno:hover {
    background-color: #EFEFEF;
    color: #6A5482;
    border: solid #6A5482;
}
  
/*CSS da página PAINEL DO USUÁRIO */
/*.dados-container{ VERIFICAR USO

    width: 100%;
    margin: center;
    padding-right: 200px;
    padding-left: 400px;
    background-color: #EFEFEF;
    border: 5px solid #6A5495;
}*/
/* -------css do botao de salvar dos meus dados */
#submit-button{
    padding: 10px 80px;
    border-radius: 4px;
    background-color: #6A5495;
    border: none;
}
#submit-button:hover{
    background-color: #4d3a74;
}
/* ---------css do botao de salvar dos meus dados */
/* ---------css do botao de resumoo do pedido */
button#pedido{
    background: #6A5495;
    border: none;
}
/* css do botao de resumoo do pedido */
.dados-container div{
 font-size: 100%;
 margin: auto;
}

.paine-usuario-conteudo h2, label, select.form-control, input.form-control {
    color: #6A5495;
}

th, td {
    color: #6A5495;
}

#button-detalhes {
    background-color: #FF8CB7;
}




/*-------------- MEDIA painelUsuario ------------------*/
@media (max-width: 800px){
    .container.pedidos{
        width: 100%;
        margin: auto;
        padding-right: 10%;
        padding-left: 10%;
        background-color: #EFEFEF;
    }  
    }
    .container.pedidos{ 
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 20px;
        text-align: left;
        margin-left: 30px;
        font-size: 25px; 
    }
    .container-resumo{
        font-size: bold;
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 30px;
        text-align: left;
        margin-left: 30px;
        display: flex;
    }
    .click-pedido{
        display: inline;
        border:10px;
        width: 100%;
        margin-top: 10px; 
        margin-block-end: 30px;
        text-align: left;
        margin-left: 30px;
    }
    
/*MEDIA produtoInterno*/
@media (max-width: 800px){
    section.lofts article{
        margin: 10px;
    }

    .container{
        padding: 0 15px;
    }

}

@media (max-width: 600px){
    section.lofts .container{
        flex-wrap: wrap;
    }

    section.lofts article{
        width: 100%;
    }
}

/*MEDIA criarConta*/
@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body {
        height: 90vh;
    }

    main form h2 {
        font-size: 27px;
   
    }
}

/*MEDIA pagina HOME*/
@media (max-width: 800px) {
    section.lofts article {
        margin: 10px;
    }

    .container {
        padding: 0 15px;
    }

}


@media (max-width: 600px) {
    section.lofts .container {
        flex-wrap: wrap;
    }

    section.lofts article {
        width: 100%;
    }
}

/*media pagina LOGIN */
/* responsivo ------------------------ */
@media (max-width: 500px) {
    main form.acessar-conta {
        width: 100%;
        padding: 30px;
        margin-top: 20px;
    }

    body {
        height: 90vh;
    }
}

/* Página de cadastro--------EM LOGIN---------- */
mains form.criar-conta {
    display: inline;
    
}